body{
    background-color: antiquewhite; 
    align-items: center;
    align-content: center;
}

.container{
    text-align: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5rem;
    width: fit-content;
    padding: 30px;
    left: auto;
    top: 15%;
    right:40%;
    
}


#cityInput {
    border-radius: 10rem;
    font-size: larger;
    height: 2rem;
    margin-top: 20px;
    padding: .5rem;
    
}

.container > form > img{
    width: 300px;
}
.container > form > label{
    display: block;
    font-size: 2rem;
}

.container > form > button{
    
    border-radius: 10rem;
    font-size: larger;
    margin: 30px 20px;
    
}
